<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="abcSuite">
  <test thread-count="5" name="abcTestResults">
    <classes>
           <class name="com.testscenarios.ErrorMessage_Assignment"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
